
configuration {
  modi: "drun,filebrowser,ssh";
  show-icons:         true;
  icon-theme:         "Papirus-Dark";
  /* xoffset: -1; */
  /* columns: 2; */
  /* width: 25; */
  /* lines: 20; */
  /* columns: 1; */
  font:"JetBrainsMono Nerd Font Medium 12";
  /* location: 3; */
  /* padding: 15; */
  /* yoffset: 24; */
  /* xoffset: -1; */
}

/* @theme "Nord.rasi" */
@theme "catppuccin.rasi"
