# autotiling
autotiling &

# build font cache
fc-cache -fv &

# java apps fix
wmname LG3D &

# start espanso
espanso daemon &
# set keyboard rate
xset r rate 300 50

# swap capslock and Esc 
# setxkbmap -option "caps:swapescape" 

# set keyboard layout to us
setxkbmap -layout us


# Don't Randomly Turn off
xset s off
xset -dpms
xset s noblank

# start compositor 
picom -b --experimental-backend

# start notification daemon
dunst &


# start redshift
redshift -O 2500 &

# Set wallpaper
hsetroot -solid '#282828'
#feh --bg-scale ~/wallpapers/282828.png &
# ~/.fehbg &

# Launch Polybar
# ~/.config/polybar/launch.sh &

# map caps to esc when tapped and ctrl when held
~/.local/bin/scripts/remap-keys &

# reload Xresources
xrdb -merge ~/.Xresources
xrdb ~/.Xresources

# network manager applet
nm-applet &
nmcli radio wifi on &

# Fix Audio
killall pulseaudio
pulseaudio &

# volume systray
volctl &

# start brave
brave &


