xterm*selectToClipboard: true
xterm*disallowedWindowOps: 20,21,SetXProp

*.font:	Terminus:pixelsize=18:antialias=true:autohint=true;
*.fontalt0: JetBrainsMono Nerd Font:pixelsize=16:antialias=true:autohint=true;

/* *.font:	UbuntuMono Nerd Font:pixelsize=20:antialias=true:autohint=true; */
/* *.fontalt0:JetBrainsMono Nerd Font Mono:pixelsize=24:antialias=true:autohint=true; */
/* *.fontalt1:JoyPixels:pixelsize=24:antialias=true:autohint=true; */

*.alpha: 1


Xft.autohint: 1
Xft.antialias: 1
Xft.hinting: false
Xft.hintstyle: hintslight
Xft.dpi: 94
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
XTerm*faceName: JetBrainsMono Nerd Font:size=10:antialias=true


