xterm*selectToClipboard: true
xterm*disallowedWindowOps: 20,21,SetXProp

*.font:	Terminus:pixelsize=18:antialias=true:autohint=true;
*.fontalt0: JetBrainsMono Nerd Font:pixelsize=16:antialias=true:autohint=true;

/* *.font:	UbuntuMono Nerd Font:pixelsize=20:antialias=true:autohint=true; */
/* *.fontalt0:JetBrainsMono Nerd Font Mono:pixelsize=24:antialias=true:autohint=true; */
/* *.fontalt1:JoyPixels:pixelsize=24:antialias=true:autohint=true; */

*.alpha: 1


Xft.autohint: 1
Xft.antialias: 1
Xft.hinting: false
Xft.hintstyle: hintslight
Xft.dpi: 94
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
XTerm*faceName: JetBrainsMono Nerd Font:size=10:antialias=true


/* dmenu / j4-dmenu */
/*dmenu.background: #282828
dmenu.foreground: #a89984
dmenu.selbackground: #937F74
dmenu.selforeground: #171717 */

/* dmenu.font: "JetBrainsMono Nerd Font-10" */


/* st gruvbox-material PC */
/*
*background: #32302F
*foreground: #d4be98

#define base00 #32302f
#define base01 #3a3a3a
#define base02 #4e4e4e
#define base03 #8a8a8a
#define base04 #949494
#define base05 #AE9780
#define base06 #d5c4a1
#define base07 #B8AF99
#define base08 #A85757
#define base09 #C37115
#define base0A #C18E1C
#define base0B #95950F
#define base0C #638C63
#define base0D #729A9A
#define base0E #9C7A8B
#define base0F #B96A37

*.foreground:   base05
#ifdef background_opacity
*.background:   #32302F
#else
*.background:   base00
#endif
*.cursorColor:  base0D
*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05
*color0:  #928374
*color8:  #786B63
*.color10:      base0B
*.color11:      base0A
*.color12:      base0D
*.color13:      base0E
*.color14:      base0C
*.color15:      base07

*.color16:      base09
*.color17:      base0F
*.color18:      base01
*.color19:      base02
*.color20:      base04
*.color21:      base06
*/


/* st gruvbox-material Laptop */
/*
*background: #32302F
*foreground: #d4be98

#define base00 #32302f
#define base01 #3a3a3a
#define base02 #4e4e4e
#define base03 #8a8a8a
#define base04 #949494
#define base05 #d4be98
#define base06 #d5c4a1
#define base07 #d4be98
#define base08 #ea6962
#define base09 #d8a657
#define base0A #e78a4e
#define base0B #a9b665
#define base0C #89b482
#define base0D #7daea3
#define base0E #d3869b
#define base0F #B96A37

*.foreground:   base05
#ifdef background_opacity
*.background:   #32302F
#else
*.background:   base00
#endif
*.cursorColor:  base0D
*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05
*color0:  #786D65
*color8:  #928373
*.color10:      base0B
*.color11:      base0A
*.color12:      base0D
*.color13:      base0E
*.color14:      base0C
*.color15:      base07

*.color16:      base09
*.color17:      base0F
*.color18:      base01
*.color19:      base02
*.color20:      base04
*.color21:      base06

*/


/*
! -----------------------------------------------------------------------------
! File: gruvbox-light.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------

! hard contrast: *background: #f9f5d7
*background: #f2e5bc
! soft contrast: *background: #f2e5bc
*foreground: #3c3836
! Black + DarkGrey
*color0:  #fdf4c1
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #9d0006
! DarkGreen + Green
*color2:  #98971a
*color10: #79740e
! DarkYellow + Yellow
*color3:  #d79921
*color11: #b57614
! DarkBlue + Blue
*color4:  #458588
*color12: #076678
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #8f3f71
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #427b58
! LightGrey + White
*color7:  #7c6f64
*color15: #3c3836
*/


! Nord
! Copyright (c) 2016-present Arctic Ice Studio <development@arcticicestudio.com>
! Copyright (c) 2016-present Sven Greb <code@svengreb.de>

! Project:    Nord XResources
! Version:    0.1.0
! Repository: https://github.com/arcticicestudio/nord-xresources
! License:    MIT

#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #566178
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4
*fading: 35
*fadeColor: nord3

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6


/*
! Everblush
*background: #141b1e
*foreground: #dadada

! Black + DarkGrey
! *color0:  #232a2d
! *color8:  #2d3437 
*color0:  #232a2d
*color8:  #777777

! DarkRed + Red
*color1:  #e57474 
*color9:  #ef7e7e
! DarkGreen + Green
*color2:  #8ccf7e
*color10: #96d988 
! DarkYellow + Yellow
*color3:  #e5c76b
*color11: #f4d67a
! DarkBlue + Blue
*color4:  #67b0e8
*color12: #71baf2
! DarkMagenta + Magenta
*color5:  #c47fd5
*color13: #ce89df
! DarkCyan + Cyan
*color6:  #6cbfbf  
*color14: #67cbe7 
! LightGrey + White
*color7:  #b3b9b8 
*color15: #bdc3c2
*/
